body {
  background: #272C33;
}
.keyboard, input {
  /*border: 1px solid black;*/
  margin: 0px auto;
  width: 260px;
}

.keyboard li {
  /*border: 1px solid blue;*/
  padding: 4px 10px;
  display: inline-block;
  margin: 0 0;
  color: #79ADD3;
  font-family: monospace;
  font-size: 16pt;
}

.keyboard li:active {
  background: #C7D5D8;
}

.keyboard .special {
  color: #272C33;
  font-size: 12pt;
  background:#79ADD3;
  margin-top: 4px;
  border-radius: 4px;
  padding: 0px 4px;
}

p {
  background: #79ADD3;
  color: #272C33;
  padding: 2px;
  border-radius: 4px;
  font-family: monospace;
  font-size: 16pt;
  text-align: center;
}
p:active {
  background:
}

input {
  color: #79ADD3;
  background: transparent;
  border: none;
  font-family: monospace;
  font-size: 16pt;
}
input:active {
  border: none;
}

/* touch feedback animation */
.anim:hover {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s ease-in-out;
  animation: sk-scaleout 1.0s ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}
