<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css" media="screen" title="no title" charset="utf-8">
    <title></title>
  </head>
  <body ng-app="myApp" ng-controller="KeywordController as keyword">



  <div class="keyboard">

    <div ng-show="input.length ">
      <p ng-repeat="word in keyword.word | filter:input">{{ word }}</p>
    </div>

    <input ng-model="input" type="text">

    <ul>
      <li>a</li>
      <li>b</li>
      <li>c</li>
      <li>d</li>
      <li>e</li>
      <li>f</li>
      <li>g</li>
      <li>h</li>
      <li>i</li>
      <li>j</li>
      <li>k</li>
      <li>l</li>
      <li>m</li>
      <li>n</li>
      <li>o</li>
      <li>p</li>
      <li>q</li>
      <li>r</li>
      <li>s</li>
      <li>t</li>
      <li>u</li>
      <li>v</li>
      <li>w</li>
      <li>x</li>
      <li>y</li>
      <li>z</li>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
      <li>6</li>
      <li>7</li>
      <li>8</li>
      <li>9</li>
      <li>0</li>
      <li>clear</li>
      <li>delete</li>
      <li>space</li>
    </ul>
  </div>

  <!--  -->
  <script src="bower_components/angular/angular.js" charset="utf-8"></script>
  <script src="app.module.js" charset="utf-8"></script>
  <script src="app.main.controller.js" charset="utf-8"></script>
  <script src="app.main.filter.js" charset="utf-8"></script>
  <!--  -->
  </body>
</html>
