<!DOCTYPE html>
<html >
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="home.css" media="screen" title="no title" charset="utf-8">
    <title></title>
  </head>
  <body ng-app="myApp" ng-controller="KeywordController as keyword">



  <div class="keyboard">

    <div ng-show="input.length">
      <p ng-repeat="word in keyword.word | filter:input | limitTo: 3">{{ word }}</p>
    </div>

    <input ng-model="input" type="text">

    <ol>
      <li ng-repeat="letter in keyword.letters">{{ letter }}</li>
      <li class="special">clear</li>
      <li class="special">delete</li>
      <li class="special">space</li>
    </ol>
  </div>

  <!--  -->
  <script src="bower_components/angular/angular.js" charset="utf-8"></script>
  <script src="app.module.js" charset="utf-8"></script>
  <script src="app.main.controller.js" charset="utf-8"></script>
  <script src="app.main.filter.js" charset="utf-8"></script>
  <!--  -->
  </body>
</html>
